31. C++程序设计语言.第1～3部分.原书第4版 (Bjarne Stroustrup) .pdf
40. 数字图像处理-第4版-冈萨雷斯.pdf
41. 《计算机图形学》(第三版).pdf
42. 计算机图形学-第4版.pdf
.DS_Store
65. OpenCV3编程入门 (毛星云) (Z-Library).pdf
66. OpenCV算法精解_基于Python与C++ (张平) (Z-Library).pdf
88. 学习OpenCV 3_中文版.pdf